


.rotate_img{
    position: absolute;
    top: 60px;
    left: -36px;
    width: 80px;
    height: 80px;
    margin: -60px 0 0 150px;

    -webkit-animation: spin 24s linear infinite;
    -moz-animation: spin 24s linear infinite;
    animation: spin 24s linear infinite;
}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}